In [2]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.api as sm
import sqlite3

## Question 1:
n=500
a=np.random.normal(5,0.5,size=(n,1))
b=np.random.normal(2,1,size=(n,1))
e=np.random.normal(0,2,size=(n,1))
y=a+b+e
bigx=np.hstack((np.ones((n,1)),a,b))
bigx
model1=sm.OLS(y,bigx).fit()
y_pred=model1.predict(bigx)
mspe1=metrics.mean_squared_error(y,y_pred)
mspe1

sample_size=[100,200,300,400,500]
k_size=[2,4,6,8,10]
mspe2=np.zeros((len(sample_size),len(k_size)))
for i,n in enumerate(sample_size):
    a=np.random.normal(5,0.5,size=(n,1))
    b=np.random.normal(2,1,size=(n,1))
    e=np.random.normal(0,2,size=(n,1))
    y=a+b+e
    bigx=np.hstack((np.ones((n,1)),a,b))
    for kdx,k in enumerate(k_size):
        reg=linear_model.LinearRegression()
        mspe2[i,kdx]=abs(cross_val_score(reg,bigx,y,scoring='neg_mean_squared_error',cv=k).mean())
df=pd.DataFrame(mspe2)
df.index=sample_size
df.columns=k_size
df

           2         4         6         8         10
100  5.290657  5.255158  5.424027  5.373056  5.392378
200  4.342605  4.435521  4.361185  4.437122  4.360725
300  4.090038  4.082076  4.086371  4.090148  4.063491
400  3.875106  3.945676  3.934512  3.918574  3.932906
500  3.968180  3.983519  4.006083  4.012078  4.013181

In [3]:
n=500
c=np.random.normal(5,0.5,size=(n,1))
d=np.random.normal(2,1,size=(n,1))
e=np.random.normal(0,2,size=(n,1))
y=a+b+e
tstat=np.zeros((10000,3))
aic=np.zeros((10000,1))
for isim in range(10000):
    sample=np.random.randint(low=0,high=100,size=(100,))
    xdata=np.hstack((c,d))
    xdata= sm.add_constant(xdata)
    model3=smf.OLS(y[sample],xdata[sample]).fit()
    tstat[isim,:,]=model3.tvalues
    aic[isim,:]=model3.aic

tstat=pd.DataFrame(data=tstat)
aic=pd.DataFrame(data=aic)
tstat.rename(columns={0:'Intercept T-value',1:'Beta1 T-value',2:'Beta2 T-value'},inplace=True)
aic.rename(columns={0:'AIC'},inplace=True)
full=pd.concat([tstat,aic],axis=1)
full
x=full.sort_values(by='AIC')
x.iloc[0]

Intercept T-value      5.061237
Beta1 T-value         -0.669532
Beta2 T-value          0.909012
AIC                  389.073542
Name: 5983, dtype: float64